{% extends 'index.html'%}
{%load static%}
{%block content%}
<h3 class="h3 pt-4 text center">Encuestadores</h3>
<div class="container mt-5 align-items-center text-center">
    <table class="table pt-5 align-items-center align-middle   bg-white">
        <thead class=" ml-5  bg-light">
            <tr>
                <th class="p-2">Nombre</th>
                <th class="p-2">Tiempo Promedio</th>
                <th class="p-2">Cantidad de Encuestas</th>
            </tr>
        </thead>
        <tbody>
            {%for user in users_data%}
            <tr>
                <td>
                    <div class="d-flex gap-3 align-items-center">
                        <div class="ms-3 p-2">
                            <p class="fw-ligth mb-1">{{user.username}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="ms-3 p-2">
                            {% if user.average_duration%}
                            <p class="fw-ligth mb-1">{{user.average_duration|floatformat:2}} Min</p>
                            {%else%}
                            <p class="fw-ligth mb-1">0</p>
                            {%endif%}
                        </div>
                    </div>
                </td>
                
                <td>
                    <div class="d-flex text-end align-items-center">
                        <div class="ms-3 p-2">
                            {% if user.survey_count %}
                            <p class="fw-ligth mb-1">{{user.survey_count}}</p>
                            {%else%}
                            <p class="fw-ligth mb-1">0</p>
                            {%endif%}
                        </div>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

</div>

{%endblock%}