{%extends 'index.html'%}
{%load static%}
{%block content%}
<script src="{% static 'surveys/js/bootstrap.js' %}"></script>
<script src="{% static 'surveys/js/jquery.min.js'%}"></script>



<div class="container">
  
  <form name="survey-form" id="survey-form" action="{% url 'save_answers'%}" method="POST">
    {% csrf_token%}
    <input type="hidden" name="surveys_id" id="surveys_id" value="{{ survey_id }}">
    <input type="hidden" name="duration" id="duration" value="">
    <input type="hidden" name="latitude" id="latitude" >
    <input type="hidden" name="longitude" id="longitude" >
    <script>
      document.getElementById('survey-form').addEventListener('submit', function(event) {
        var comunaSelect = document.getElementById('comunaSelect');
        var barrioSelect = document.getElementById('barrioSelect');
      
        if (comunaSelect.value === '' || barrioSelect.value === '') {
          event.preventDefault();
          alert('Por favor, seleccione una comuna y un barrio.');
        }
      });
    </script>

    <div class="card mt-5" style="max-width: 500px; margin: 0 auto;">
      <div class="row mb-3">
        <h5 class="text-center mt-4 mb-4 fw-light">Informacion del encuestado</h5>
        <div class="col-xs-6">
          <div class="form-group m-1 row">
            <label for="nombre-usuario" class="col-xs-4 text-start col-form-label">Nombre</label>
            <div class="col-xs-8">
              <input class="form-control" type="text" name="name" id="name">
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group m-1 row">
            <label for="staticEmail" class="col-xs-4 text-start col-form-label">Teléfono</label>
            <div class="col-xs-8">
              <input class="form-control" type="text" name="phone" id="phone">
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group m-1 row">
            <label for="" class="col-xs-4 text-start col-form-label">Direccion</label>
            <div class="col-xs-8">
              <input class="form-control" type="text" name="direccion" id="direccion">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-5 " style="max-width: 500px; margin: 0 auto;">
      <div class="row">
        <h5 class="text-center mt-4 mb-4 fw-light">Seleccione comuna y barrio</h5>
        <div class="col">
          <div class="form-group m-2">

            <select class="form-select" id="comunaSelect" name="comunaSelect" required>
              <option value="" selected onchange="searchDistrict()">Selecciona una comuna...</option>
              {%for commune in communes%}
              <option  id="comunaSelect1" value="{{commune.id}}">{{commune}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group m-2">
            <select aria-required="true" class="form-select" id="barrioSelect" name="barrioSelect" required>
              <option value="" selected >Selecciona un barrio...</option>
              <!-- Opciones de barrio -->
            </select>
          </div>
        </div>
      </div>
    </div>


    {%for question in questions%}
    <div class="card text-center mt-5 mb-5" style="max-width: 500px; margin: 0 auto;">
      <div class="card-body">
        <h5 class="card-title text-start fw-light bg-light ">{{question.question}}</h5>
        {%for option in question.answeroptions_set.all%}
        <div class="form-check text-start mt-3">
          <input class="form-check-input" required type="radio" name="pregunta{{question.id}}"
            id="opcion1" value="{{option.id}}">
          <label class=" text-startform-check-label" for="opcion{{option.id}}">
            {{option.options}}
          </label>
        </div>
        {%endfor%}
      </div>
    </div>
    {%endfor%}
    <div class="card text-center mt-5 mb-5" style="max-width: 500px; margin: 0 auto;">
      <div class="card-body">
        <h5 class="card-title text-start fw-light bg-light ">Que recomendación le daría usted a Daniela para sacar adelante a Sincelejo?</h5>
        <div class="form-check text-center p-0 ms-0 mt-3">
            <textarea name="recomentation" id="recomendation" class="form-control" aria-label="With textarea"></textarea>
        </div>
      </div>
    </div>
    <button id="submit-survey" style="color:#ffffff;" type="submit" class="mb-5 btn bg-secondary btn-lg">Continuar</button>

  </form>

  <script>
    
    $(document).ready(function () {
      // inicio funcion geolocalizacion
      function getCurrentLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            function (position) {
              var latitude = position.coords.latitude;
              var longitude = position.coords.longitude;
              currentLocation = {
                'latitude': latitude,
                'longitude': longitude,
                
              };
              document.getElementById('latitude').value = latitude;
              document.getElementById('longitude').value = longitude;
              console.log(latitude);
              console.log(longitude);
            },
            function (error) {
              console.log('Error al obtener la ubicación: ' + error.message);
            }
          );
        } else {
          console.log('La geolocalización no es compatible con este navegador.');
        }
      }
      getCurrentLocation();
      // fin funcion geolocalizacion
      
      // set timer
      var startTime;
      function getDuration() {
        var endTime = new Date();
        var duration = endTime - startTime;
        return Math.floor(duration / 1000); // Obtener la duración en segundos
      }
      startTime = new Date();
      var form = document.getElementById('survey-form');

      // Escuchar el evento submit del formulario
      form.addEventListener('submit', function (event) {
        event.preventDefault(); // Detener el envío del formulario

        // Obtener la duración
        var duration = getDuration();
        $('#duration').val(duration);

        // Enviar el formulario
        form.submit();
      });

      

      // end set timer

      $(document).ready(function () {
        $('#comunaSelect').change(function () {
          var comunaId = $(this).val();
          $.ajax({
            url: "{% url 'district_list'%}",
            method: 'GET',
            data: { comuna_id: comunaId },
            dataType: 'json'
          })
          .done(function (distritos) {
            var distritoSelect = $('#barrioSelect');
            distritoSelect.empty();

            $.each(distritos, function (index, distrito) {
              var option = $('<option></option>').val(distrito.id).text(distrito.name);
              distritoSelect.append(option);
            });
          })
          .fail(function () {
            console.error('Error en la solicitud');
          });
        });
      });

    });
  </script>
</div>
{%endblock%}