{%extends 'index.html'%}
{%load static%}

{%block content%}
<div class="container mt-5">
    <div class="row pb-5">
        <div class="col-lg-6">
            <div class="card">
                <div class="text-start card-header">
                    Encuestas
                </div>
                <div class="card-body text-start">
                    <h5 class="card-title mt-3">Numero de preguntas: 5</h5>
                    <a href="{% url 'surveydetail'%}" id="submit-survey" class="btn mt-2 btn-primary ml-auto">Empezar encuesta</a>
                </div>
            </div>
        </div>
    </div>
</div>
                    
                    
<script>
    function getGeolocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var latitud = position.coords.latitude;
            var longitud = position.coords.longitude;
            console.log("Latitud:", latitud);
            console.log("Longitud:", longitud);
          });
        } else {
          console.log("La geolocalización no es soportada por este navegador.");
        }
      }
      
      // Asignar la función al evento clic del botón
      document.getElementById("submit-survey").addEventListener("click", getGeolocation);
      

</script>

{%endblock%}